
.pageSearchBox {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    border-radius: 50rem;
}

.pageSearch {
    width: 100%;
    height: 100%;
    border: 1px solid var(--borderColor);
    background-color: #f9f9f9;
    border-radius: 50rem;
    padding-right: 40px;
    padding-left: 15px;
}

.searchBtn {
    width: 30px;
    height: 30px;
    background: #f9f9f9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    border: 0;
    border-radius: 50%;
    padding: 7px;
}


.icon {
    width: 100%;
    height: 100%;
    color: inherit;
    line-height: 0;
    display: block;
}

.btn {
    width: auto;
    height: 40px;
    border-radius: 50rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs14);
    font-weight: 500;
    border: 1px solid var(--borderColor);
    position: relative;
    overflow: hidden;
}


.btn .icon {
    width: 16px;
    aspect-ratio: 1;
    margin-right: 5px;
    display: inline-flex;
    stroke-width: 1.5;
    color: inherit;
}

.btnDefault {
    background: var(--primaryColor);
    color: var(--whiteColor);
}

.btn:hover,
.btn:first-child:active {
    background: var(--primaryColor);
    color: var(--whiteColor);
    border-color: var(--primaryColor);
}

.btn:hover:before,
.btn:first-child:active:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    margin: auto;
}

.btn.small {
    height: 30px;
    font-size: var(--fs12);
}

.btn.small .icon {
    width: 12px;
    margin-right: 2px;
    stroke-width: 2;
}

.sectionCard {
    width: 100%;
    max-height: calc(100vh - 360px);
    background: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1100px;
    margin: auto;
    overflow: auto;
}

.filtersMain {
    position: sticky;
    top: 0;
    /* margin-bottom: 60px; */
    background: var(--whiteColor);
    border-radius: 10px 10px 0 0;
    /* top: 60px; */
    z-index:2;
}

.filterWrapper {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
}

.filterBtn {
    width: 100px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(50%);
}

.filterHead {
    font-size: var(--fs12);
    font-weight: 600;
}

.filterGroup {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.filterItem {
    border: 1px solid var(--borderColor);
    background: var(--subtleBg);
    font-size: var(--fs14);
    line-height: 1;
    color: var(--textBodySecondary);
    cursor: pointer;
    text-align: center;
    padding: 0.45rem 0.65rem 0.35rem;
    display: inline-flex;
    align-content: center;
}

.filterItem:hover {
    background: var(--whiteColor);
}

.btn-check:checked+.filterItem {
    background: var(--whiteColor);
    border: 1px solid var(--darkColor);
    color: var(--darkColor);
}

.contentRow {
    background: var(--grayColor);
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
    overflow: hidden;
    padding: 0 10px;
}

.contentRow:not(.noHover):hover {
    box-shadow: 0 5px 15px #ddd;
    background: #fff;
}

.contentRow>.row>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.contentRow .fw-medium {
   font-weight: 500;
}

.ckbCol {
    align-self: stretch;
    display: flex;
    align-items: center;
    background: rgba(238, 242, 247, 0.5);
    height: auto;
}

.ckbCol input {
    align-self: center;
}

.form-check-input {
    width: 14px;
    height: 14px;
}

.form-check-input:checked {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.form-check-input:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}



.avatarSmall {
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: var(--fs14);
    font-weight: 500;
    border-radius: 50%;
    background-color: #ccc;
    line-height: 1;
    text-align: center;
    padding: 4px 0 0 0;
}

.crDomainName {
    font-size: var(--fs14);
    font-weight: 500;
    color: var(--primaryColor);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.crDescription {
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    display: block;
}

.crBtn {
    width: 30px;
    height: 30px;
    border-radius: 50rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--darkColor);
    background: var(--grayColor);
    border: 1px solid var(--borderColor);
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.crBtn .icon {
    width: 12px;
    aspect-ratio: 1;
    display: inline-flex;
    stroke-width: 2;
    color: inherit;
}

.crBtn:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}


.statusBadge {
    display: inline-block;
    padding: 0.28rem 0.35rem;
    font-size: var(--fs11);
    line-height: 1;
    font-weight: 500;
    border-radius: 4px;
    background: #666;
    color: var(--whiteColor);
    white-space: nowrap;
}

.servBadge {
    width: 35px;
    height: auto;
    aspect-ratio: 1;
    border: 1px solid var(--borderColor);
    background: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    display: inline-block;
    z-index: 10;
    position: relative;
}

.servBadge+.servBadge {
    margin-left: -18px;
}

.servBadge:nth-child(2) {
    z-index: 9;
}

.servBadge:nth-child(3) {
    z-index: 8;
}

.servBadge:hover {
    z-index: 100;
}

.servBadge:before {
    display: block;
    width: 100%;
    height: 100%;
}

.servBadge.tizzy:before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400' x='0px' y='0px'><path fill='%2334a853' d='M49,59s86.637-1.833,172,99L282,21,350,9V20s-36.234-2.265-53,43L144,391l-14-39,80-172S164.162,106.238,49,69V59Z'/></svg>");
}

.servBadge.microsoft:before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><path fill='%23ff5722' d='M6 6H22V22H6z' transform='rotate(-180 14 14)'></path><path fill='%234caf50' d='M26 6H42V22H26z' transform='rotate(-180 34 14)'></path><path fill='%23ffc107' d='M26 26H42V42H26z' transform='rotate(-180 34 34)'></path><path fill='%2303a9f4' d='M6 26H22V42H6z' transform='rotate(-180 14 34)'></path></svg>");
}

.servBadge.google:before {
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' x='0px' y='0px'><path fill='%231976d2' d='M38.193,18.359c-0.771-2.753-2.319-5.177-4.397-7.03l-4.598,4.598 c1.677,1.365,2.808,3.374,3.014,5.648v1.508c0.026,0,0.05-0.008,0.076-0.008c2.322,0,4.212,1.89,4.212,4.212S34.61,31.5,32.288,31.5 c-0.026,0-0.05-0.007-0.076-0.008V31.5h-6.666H24V38h8.212v-0.004c0.026,0,0.05,0.004,0.076,0.004C38.195,38,43,33.194,43,27.288 C43,23.563,41.086,20.279,38.193,18.359z'></path><path fill='%23ff3d00' d='M24,7.576c-8.133,0-14.75,6.617-14.75,14.75c0,0.233,0.024,0.46,0.035,0.69h6.5 c-0.019-0.228-0.035-0.457-0.035-0.69c0-4.549,3.701-8.25,8.25-8.25c1.969,0,3.778,0.696,5.198,1.851l4.598-4.598 C31.188,9.003,27.761,7.576,24,7.576z'></path><path fill='%234caf50' d='M15.712,31.5L15.712,31.5c-0.001,0-0.001,0-0.002,0c-0.611,0-1.188-0.137-1.712-0.373 l-4.71,4.71C11.081,37.188,13.301,38,15.71,38c0.001,0,0.001,0,0.002,0v0H24v-6.5H15.712z'></path><path fill='%23ffc107' d='M11.5,27.29c0-2.32,1.89-4.21,4.21-4.21c1.703,0,3.178,1.023,3.841,2.494l4.717-4.717 c-1.961-2.602-5.065-4.277-8.559-4.277C9.81,16.58,5,21.38,5,27.29c0,3.491,1.691,6.59,4.288,8.547l4.71-4.71 C12.53,30.469,11.5,28.999,11.5,27.29z'></path></svg>");
}

.pagination .page-link {
    border: 1px solid var(--borderColor);
    border-radius: 0.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--textBody);
    padding: 0.2rem;
    font-size: var(--fs12);
}

.pagination .active>.page-link {
    background: var(--primaryColor);
    color: var(--whiteColor);
    border-color: var(--primaryColor);
}

.pagination .page-link .icon {
    width: 1.1rem;
    aspect-ratio: 1;
    display: block;
    stroke-width: 1.5;
    color: inherit;
}

.page-link:focus {
    box-shadow: none;
}

.searchCount {
    font-size: var(--fs14);
}
.avatarBg{
    background-color: var(--primaryColor);
}
.crName{
    text-transform: capitalize;
}
.statusBadgeStyle{
    text-transform: capitalize;
    padding:  2px 5px;
    font-size: var(--fs10);
    border-radius: 4px;
    color: var(--whiteColor);
    font-weight: 500;
}
@media (max-width: 575.98px) {
    .searchCount {
        font-size: var(--fs11);
    }

    .contentRow>.row>.mobAction {
        background: #f5f6f9;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .adjustWidth {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        width: auto;
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .crBtn .icon {
        width: 16px;
    }
}

@media (min-width: 768px) {
    .pageSearchBox {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .btnDisplay .crBtn {
        opacity: 0;
        position: relative;
        right: -20px;
    }

    .btnDisplay:hover .crBtn {
        opacity: 1;
        right: 0;
    }
/* 
    .filtersMain {
        top: 74px;
    } */
}