.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    width: 100%;
    margin: auto;
}

.breadcrumbItem {
    font-size: var(--fs12);
    color: var(--textBody);
    border: none;
    background: none;
}

.breadcrumbItem.active {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    font-size: var(--fs20);
    font-weight: 600;
    color: var(--textBody);
}

.breadcrumbItem.active:before {
    display: none;
}
