.sectionCard {
    margin: auto;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    box-shadow: 0 2px 1px #0000001a;
}


.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    width: 1100px;
    margin: auto;
}

.breadcrumbItem {
    font-size: var(--fs12);
    color: var(--textBody);
}

.breadcrumbItem.active {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    font-size: var(--fs20);
    font-weight: 600;
    color: var(--textBody);
}

.breadcrumbItem.active:before {
    display: none;
}

.sectionCardHead {
    font-size: var(--fs14);
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--darkColor);
    display: inline;
    margin-bottom: 0;
}

.statBox {
    width: 100%;
    height: 100%;
    background: var(--subtleBg);
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 10px;
    position: relative;
}

.statBox:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #ebebeb 0%, var(--subtleBg) 15%);
    border-radius: 10px;
    pointer-events: none;
}

.statBox.successGrad:before {
    background: linear-gradient(135deg, var(--successSubtleColor) 0%, var(--subtleBg) 20%);
}

.statBox.dangerGrad:before {
    background: linear-gradient(135deg, var(--dangerSubtleColor) 0%, var(--subtleBg) 20%);
}

.statBox.warningGrad:before {
    background: linear-gradient(135deg, var(--warningSubtleColor) 0%, var(--subtleBg) 20%);
}

.statBox * {
    position: relative;
    z-index: 1;
}

.statIcon {
    width: 36px;
    height: auto;
    aspect-ratio: 1;
    display: block;
    margin-top: -25px;
}

.statText {
    display: block;
}

.statLabel {
    font-size: var(--fs14);
    color: var(--darkColor);
}

.statValue {
    font-size: var(--fs20);
    font-weight: 600;
    color: var(--textBody);
    line-height: 1;
}

/* Status badge (component variant) */
.statusBadge {
    display: inline-block;
    padding: 0.28rem 0.35rem;
    font-size: var(--fs11);
    line-height: 1;
    font-weight: 500;
    border-radius: 4px;
    background: #666;
    color: var(--whiteColor);
    white-space: nowrap;
}

.statusBadge .icon {
    width: 14px;
    aspect-ratio: 1;
    stroke-width: 2;
    display: inline-block;
}

.statusBadge.up {
    color: var(--successColor);
    background: var(--successSubtleColor);
}

.statusBadge.down {
    color: var(--dangerColor);
    background: var(--dangerSubtleColor);
}

.statusBadge.down .icon {
    transform: rotate(180deg);
}

/* Add new customer box */
.boxLink {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    font-size: var(--fs14);
    font-weight: 500;
    color: var(--whiteColor);
    text-align: center;
    background: var(--primaryColor) !important;
}

.boxLink:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
    border-radius: 10px;
    pointer-events: none;
}

.boxLink .iconBx {
    width: 2rem;
    height: auto;
    aspect-ratio: 1;
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px dashed #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.boxLink .icon {
    width: 1.1rem;
    aspect-ratio: 1;
    display: inline-block;
    stroke-width: 2;
    color: inherit;
}

.statusBadgeIcon {
    width: 14px;
    aspect-ratio: 1;
    stroke-width: 2;
    display: inline-block;
}

@media (min-width: 768px) {
    .statBox {
        padding: 15px;
    }

    .statIcon {
        margin-top: -30px;
    }

    .statValue {
        font-size: var(--fs24);
    }
}