.btn {
    width: auto;
    height: 40px;
    border-radius: 50rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs14);
    font-weight: 500;
    border: 1px solid var(--borderColor);
    position: relative;
    overflow: hidden;
}


.btn .icon {
    width: 16px;
    aspect-ratio: 1;
    margin-right: 5px;
    display: inline-flex;
    stroke-width: 1.5;
    color: inherit;
}

.btnWhite {
    background: var(--whiteColor);
    color: var(--textBody);
}

.btn:hover,
.btn:first-child:active {
    background: var(--primaryColor);
    color: var(--whiteColor);
    border-color: var(--primaryColor);
}

.btn:hover:before,
.btn:first-child:active:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    margin: auto;
}

.btn.small {
    height: 30px;
    font-size: var(--fs12);
}

.btn.small .icon {
    width: 12px;
    margin-right: 2px;
    stroke-width: 2;
}

.icon {
    width: 100%;
    height: 100%;
    color: inherit;
    line-height: 0;
    display: block;
}

.statusBadge {
    display: inline-block;
    padding: 0.28rem 0.35rem;
    font-size: var(--fs11);
    line-height: 1;
    font-weight: 500;
    border-radius: 4px;
    background: #666;
    color: var(--whiteColor);
    white-space: nowrap;
}

.statusBadge.subtleDanger {
    background: var(--dangerSubtleColor);
    color: var(--dangerColor);
}

.statusBadge.subtleSuccess {
    background: var(--successSubtleColor);
    color: var(--successColor);
}

.statusBadge.subtleWarning {
    background: var(--warningSubtleColor);
    color: var(--warningColor);
}

.sectionCard {
    width: 100%;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1100px;
    margin: auto;
}

.sectionCardHead {
    font-size: var(--fs14);
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--darkColor);
    display: inline;
    margin-bottom: 0;
}

.dbdTabs .dbdNavtab {
    background: none;
    border: none;
    opacity: 0.4;
}

.dbdTabs .dbdNavtab.active {
    opacity: 1;
}

.tabBtnGroup {
    display: flex;
    align-items: center;
    background: var(--grayColor);
    overflow: hidden;
    padding: 3px;
}

.tbgItem {
    border: 1px solid transparent;
    background: transparent;
    font-size: var(--fs12);
    line-height: 1.5;
    padding: 7px 15px;
    color: var(--textBodySecondary);
    cursor: pointer;
    text-align: center;
}


.tbgItem:hover {
    background: var(--borderColor);
}

.tbgItem.active,
.btn-check:checked +.tbgItem {
    background: var(--whiteColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--borderColor);
    color: var(--darkColor);
}

.filterItem.active,
.btn-check:checked+.filterItem {
    background: var(--whiteColor);
    border: 1px solid var(--darkColor);
    color: var(--darkColor);
}

.contentRow {
    background: var(--grayColor);
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
    overflow: hidden;
    padding: 10px;
}

.contentRow:not(.noHover):hover {
    box-shadow: 0 5px 15px #ddd;
    background: #fff;
}

.contentRow .fw-medium {
    font-weight: 500;
}

.contentRow>.row>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.avatarSmall {
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: var(--fs14);
    font-weight: 500;
    border-radius: 50%;
    background-color: #ccc;
    line-height: 1;
    text-align: center;
    padding: 4px 0 0 0;
}

.crDate {
    font-size: var(--fs12);
}

.crNumber {
    font-weight: 500;
}

.crDomain {
    display: flex;
    align-items: center;
}

.crDomainName {
    font-size: var(--fs14);
    font-weight: 500;
    color: var(--primaryColor);
}

.crDescription {
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    display: block;
}

.crBtn {
    width: 30px;
    height: 30px;
    border-radius: 50rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--darkColor);
    background: var(--grayColor);
    border: 1px solid var(--borderColor);
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.crBtn .icon {
    width: 12px;
    aspect-ratio: 1;
    display: inline-flex;
    stroke-width: 2;
    color: inherit;
}

.crBtn:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}

.crRenew {
    width: 120px;
}

@media (min-width: 992px) {
    .dbdTabMargin {
        margin-bottom: -35px;
    }

    .btnDisplay .crBtn {
        opacity: 0;
        position: relative;
        right: -20px;
    }

    .btnDisplay:hover .crBtn {
        opacity: 1;
        right: 0;
    }
}

@media (min-width: 576px) {
    .crBtn .icon {
        width: 16px;
    }
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}