/* SignupForm.module.css */

.heading {
  font-size: 18px;
  font-weight: 500;
  color: #4c4c5c;
  text-align: center;
}

.subheading {
  font-size: 13px;
  color: #9ba6b7;
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.formGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.required {
  color: red;
}

/* Input styles */
.input,
.gstinInput,
.mobileInput,
.countryCode {
  width: 100%;
  padding: 6px 12px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
}

.input:focus,
.gstinInput:focus,
.mobileInput:focus {
  border-color: var(--primaryColor);
  outline: none;
}

/* Mobile */
.mobileInputWrapper {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.countryCode {
  width: 70px;
  border: none;
  border-right: 1px solid #ddd;
}

.mobileInput {
  border: none;
  flex: 1;
}

/* GSTIN */
.gstinInputWrapper {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.gstinInput {
  border: none;
  flex: 1;
}

.searchBtn {
  padding: 6px 16px;
  border: none;
  border-left: 1px solid #ddd;
  background: transparent;
  cursor: pointer;
}

/* Button */
.registerBtn {
  width: 100%;
  padding: 8px;
  border-radius: 30px;
  background: var(--primaryColor);
  color: white;
  border: none;
}

.registerBtn:disabled {
  background: #ccc;
}

/* Terms */
.termsWrapper {
  font-size: 12px;
  margin: 20px 0;
}

.link {
  color: #5757e4;
  font-weight: 600;
}

/* Footer */
.signinLink {
  text-align: center;
  font-size: 12px;
}
.errorMessage {
  color: red;
  font-size: 11px;
}
