.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 5px
}

.paginationBtn {
    width: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}