.report {
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sectionCard {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    min-height: 100px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    margin: auto;
}

.sectionCard.addGrad {
    background: linear-gradient(135deg, var(--whiteColor) 70%, #f3f3f3 100%);
    border-radius: 10px;
}

.sectionCardHead {
    font-size: var(--fs14);
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--darkColor);
    display: inline;
    margin-bottom: 0;
}

.tabBtnGroup {
    display: flex;
    align-items: center;
    background: var(--grayColor);
    overflow: hidden;
    padding: 3px;
}

.tbgItem {
    border: 1px solid transparent;
    background: transparent;
    font-size: var(--fs12);
    line-height: 1.5;
    padding: 7px 15px;
    color: var(--textBodySecondary);
    cursor: pointer;
    text-align: center;
}

.tbgItem:hover {
    background: var(--borderColor);
}

.tbgItem.active,
.btn-check:checked+.tbgItem {
    background: var(--whiteColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--borderColor);
    color: var(--darkColor);
}

.chartContainer {
    width: 100%;
    aspect-ratio: 16/9;
    background: var(--subtleBg);
    border-radius: 10px;
    position: relative;
}

.statusBadge {
    display: inline-block;
    padding: 0.28rem 0.35rem;
    font-size: var(--fs11);
    line-height: 1;
    font-weight: 500;
    border-radius: 50rem;
    border-radius: 4px;
    background: #666;
    color: var(--whiteColor);
    white-space: nowrap;
}

.statusBadge .icon {
    width: 14px;
    aspect-ratio: 1;
    stroke-width: 2;
    display: inline-block;
}

.statusBadge.up {
    color: var(--successColor);
    background: var(--successSubtleColor);
}

.statusBadge.down {
    color: var(--dangerColor);
    background: var(--dangerSubtleColor);
}

.statusBadge.down .icon {
    transform: rotate(180deg);
}

.crBtn {
    width: 30px;
    height: 30px;
    border-radius: 50rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--darkColor);
    background: var(--grayColor);
    border: 1px solid var(--borderColor);
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.crBtn .icon {
    width: 12px;
    aspect-ratio: 1;
    display: inline-flex;
    stroke-width: 2;
    color: inherit;
}

.crBtn:hover {
    background: var(--primaryColor);
    color: var(--whiteColor);
}

.statValue {
    font-size: var(--fs20);
    font-weight: 600;
    color: var(--textBody);
    line-height: 1;
}

.invoiceIcon .icon {
    width: 50px;
    aspect-ratio: 1;
    display: inline-block;
}

.infoColor {
    color: var(--infoColor);
}

.dangerColor {
    color: var(--dangerColor);
}

.warningColor {
    color: var(--warningColor);
}

.successColor {
    color: var(--successColor);
}

.icon {
  width: 100%;
  height: 100%;
  color: inherit;
  line-height: 0;
  display: block;
}

@media (min-width: 992px) {
    .btnDisplay .crBtn {
        opacity: 0;
        position: relative;
        right: -20px;
    }

    .btnDisplay:hover .crBtn {
        opacity: 1;
        right: 0;
    }
}

@media (min-width: 576px) {
    .crBtn .icon {
        width: 16px;
    }
}

@media (min-width: 768px) {
    .statValue {
        font-size: var(--fs24);
    }
}