.breadcrumbItem {
    font-size: var(--fs12);
    color: var(--textBody);

}

.breadcrumb {
    max-width: 1100px;
    margin: auto;
}

.breadcrumbItem.active {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    font-size: var(--fs20);
    font-weight: 600;
    color: var(--textBody);
}

.breadcrumbItem.active:before {
    display: none;
}